hc-event {
  display: block;
  margin-bottom: 1rem;
}
hc-event p {
  display: none;
}
hc-event address {
  font-style: normal;
  display: none;
}
hc-event-tags li {
  background: #fcf8e3;
  padding: .2rem;
  margin-left: 0.5rem;
  list-style: none;
  display: inline;
}
hc-event img {
  height: 20px;
}